## everywhere
# libreoffice lock files 
**/.~lock*

# vim files
**/*.swp
**/*~

## doc related
# latex
doc/**/*.aux
doc/**/*.log

# binaries
sw*/**/*.hex
sw*/**/*.bin
sw*/**/*.o
sw*/**/*.a

# sublime
*.sublime-project
*.sublime-workspace
