## everywhere
# libreoffice lock files 
**/.~lock*

# vim files
**/*.swp
**/*~

## doc related
# latex
doc/**/*.aux
doc/**/*.log

## sw related
# autotools
sw/linux/**/makefile
sw/linux/**/makefile.in
sw/linux/**/ar-lib
sw/linux/**/mdate-sh
sw/linux/**/py-compile
sw/linux/**/test-driver
sw/linux/**/ylwrap
sw/linux/**/autom4te.cache
sw/linux/**/autoscan.log
sw/linux/**/autoscan-*.log
sw/linux/**/aclocal.m4
sw/linux/**/compile
sw/linux/**/config.guess
sw/linux/**/config.h.in
sw/linux/**/config.log
sw/linux/**/config.status
sw/linux/**/config.sub
sw/linux/**/configure
sw/linux/**/configure.scan
sw/linux/**/depcomp
sw/linux/**/install-sh
sw/linux/**/missing
sw/linux/**/stamp-h*
sw/linux/**/build-aux
sw/linux/**/ltmain.sh
sw/linux/**/texinfo.tex
sw/linux/**/.deps

# binaries
sw/**/*.hex
sw/**/*.bin
sw/**/*.o
sw/**/*.a
